language:
    - java

jdk:
    - openjdk11

service:
    - mysql

before_script:
    - sh -c "mysql -e 'SET NAMES utf8mb4;' -uroot;"
    - sh -c "mysql -e \"SHOW VARIABLES LIKE 'character_set_%';\" -uroot;"
    - sh -c "mysql -e \"SHOW VARIABLES LIKE 'collation_%';\" -uroot;"
    - sh -c "mysql -e 'CREATE DATABASE ebook CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;' -uroot; fi"
    - sh -c "mysql -e 'USE ebook; source data.sql;' -uroot; fi"
    - sh -c "mysql -e \"USE ebook; select count(*) from book where title like '%äºº%';\" -uroot;"
    - cd BackEnd
    - mvn test -B -Dspring.datasource.username=root -Dspring.datasource.password=

script: 
    - mvn clean package -DskipTests=true
