language:
    - java

jdk:
    - openjdk11

service:
    - mysql

before_script:
    - sh -c "mysql -e 'CREATE DATABASE IF NOT EXISTS ebook;' -uroot; fi"
    - sh -c "mysql -e 'USE ebook; source data.sql;' -uroot; fi"
    - sh -c "mysql -e \"USE ebook; select count(*) from book where title like '%äºº%';\" -uroot;"
    - cd BackEnd
    - mvn test -B -Dspring.datasource.username=root -Dspring.datasource.password=

script: 
    - mvn clean package -DskipTests=true
