language:
    - java

jdk:
    - openjdk11

service:
    - mysql

before_script:
    - cp -r static /home/
    - echo -e "[client]\ndefault-character-set=utf8mb4" | sudo tee -a /etc/mysql/my.cnf
    - echo -e "[mysql]\ndefault-character-set=utf8mb4" | sudo tee -a /etc/mysql/my.cnf
    - echo -e "[mysqld]\ncollation-server = utf8mb4_general_ci\ninit-connect='SET NAMES utf8mb4'\ncharacter-set-server = utf8mb4" | sudo tee -a /etc/mysql/my.cnf
    - sudo service mysql restart
    - sh -c "mysql -e \"SHOW VARIABLES LIKE 'character_set_%';\" -uroot;"
    - sh -c "mysql -e \"SHOW VARIABLES LIKE 'collation_%';\" -uroot;"
    - sh -c "mysql -e 'CREATE DATABASE ebook CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;' -uroot;"
    - sh -c "mysql -e 'USE ebook; source data.sql;' -uroot;"
    - sh -c "mysql -e \"USE ebook; select count(*) from book where title like '%äºº%';\" -uroot;"
    - cd BackEnd

script: 
    - mvn test -B -Dimage-dir=/home/static/images -Dspring.datasource.username=root -Dspring.datasource.password=
    - mvn clean package -DskipTests=true
